In [7]:
import duckdb
import pandas as pd

%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:///:default:

In [8]:
%%sql
select 'hola mundo'

  'hola mundo'
0   hola mundo

In [9]:
%%sql
create or replace table competencia_02 as 
select 
    *
from read_csv_auto('../datasets/competencia_02_crudo.csv')

Empty DataFrame
Columns: [Success]
Index: []

In [10]:
%%sql 
SELECT column_name, data_type
FROM information_schema.columns
WHERE table_name = 'competencia_02';

                 column_name data_type
0          numero_de_cliente    BIGINT
1                   foto_mes    BIGINT
2             active_quarter    BIGINT
3                cliente_vip    BIGINT
4                   internet    BIGINT
..                       ...       ...
149           Visa_fechaalta    BIGINT
150       Visa_mconsumototal    DOUBLE
151           Visa_cconsumos    BIGINT
152  Visa_cadelantosefectivo    BIGINT
153         Visa_mpagominimo    DOUBLE

[154 rows x 2 columns]

In [11]:
%%sql
create or replace table competencia_02 as 

with max_db as 
    (
        select max(foto_mes) as max_foto_mes_db
        from competencia_02
    )
select c.*, max_db.max_foto_mes_db, max_numero_de_cliente.max_foto_mes, c.foto_mes,
    case
        when max_db.max_foto_mes_db = max_numero_de_cliente.max_foto_mes then 'continua'
        when CAST(SUBSTRING(max_numero_de_cliente.max_foto_mes, 1, 4) AS INTEGER) * 12 + CAST(SUBSTRING(max_numero_de_cliente.max_foto_mes, 5, 2) AS INTEGER) -
           (CAST(SUBSTRING(c.foto_mes, 1, 4) AS INTEGER) * 12 + CAST(SUBSTRING(c.foto_mes, 5, 2) AS INTEGER)) =  0 then 'baja+1'
        when CAST(SUBSTRING(max_numero_de_cliente.max_foto_mes, 1, 4) AS INTEGER) * 12 + CAST(SUBSTRING(max_numero_de_cliente.max_foto_mes, 5, 2) AS INTEGER) -
           (CAST(SUBSTRING(c.foto_mes, 1, 4) AS INTEGER) * 12 + CAST(SUBSTRING(c.foto_mes, 5, 2) AS INTEGER)) == 1 then 'baja+2'
         when CAST(SUBSTRING(max_numero_de_cliente.max_foto_mes, 1, 4) AS INTEGER) * 12 + CAST(SUBSTRING(max_numero_de_cliente.max_foto_mes, 5, 2) AS INTEGER) -
           (CAST(SUBSTRING(c.foto_mes, 1, 4) AS INTEGER) * 12 + CAST(SUBSTRING(c.foto_mes, 5, 2) AS INTEGER)) > 1 then 
            concat('baja+', CAST(SUBSTRING(max_numero_de_cliente.max_foto_mes, 1, 4) AS INTEGER) * 12 + CAST(SUBSTRING(max_numero_de_cliente.max_foto_mes, 5, 2) AS INTEGER) -
                            (CAST(SUBSTRING(c.foto_mes, 1, 4) AS INTEGER) * 12 + CAST(SUBSTRING(c.foto_mes, 5, 2) AS INTEGER)))
    end as clase_ternaria, 
    CAST(SUBSTRING(max_numero_de_cliente.max_foto_mes, 1, 4) AS INTEGER) * 12 + CAST(SUBSTRING(max_numero_de_cliente.max_foto_mes, 5, 2) AS INTEGER) -
        (CAST(SUBSTRING(c.foto_mes, 1, 4) AS INTEGER) * 12 + CAST(SUBSTRING(c.foto_mes, 5, 2) AS INTEGER)) as valor
from competencia_02 c
    cross join max_db
    left join 
        (
            select numero_de_cliente, max(foto_mes) as max_foto_mes
            from competencia_02
            group by numero_de_cliente
        ) max_numero_de_cliente on max_numero_de_cliente.numero_de_cliente = c.numero_de_cliente

Empty DataFrame
Columns: [Success]
Index: []

In [50]:
%%sql

WITH MesesPossiveis AS (
    SELECT DISTINCT numero_de_cliente, foto_mes
    FROM competencia_02
)

SELECT DISTINCT numero_de_cliente
FROM (
    SELECT
        numero_de_cliente,
        foto_mes,
        LAG(foto_mes, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS mes_anterior
    FROM MesesPossiveis
) subquery
WHERE (
    (CAST(foto_mes AS INT) - CAST(mes_anterior AS INT)) != 1
    AND (
        (CAST(foto_mes AS INT) = 1 AND CAST(mes_anterior AS INT) != 12)
        OR (CAST(foto_mes AS INT) = 12 AND CAST(mes_anterior AS INT) != 11)
    )
)

Empty DataFrame
Columns: [numero_de_cliente]
Index: []

In [48]:
%%sql
select * 
from competencia_02
where numero_de_cliente = 29425049
order by numero_de_cliente, foto_mes

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,max_foto_mes_db,max_foto_mes,foto_mes:1,clase_ternaria,valor
0,29425049,201901,1,0,1,48,263,1058.40,12310.28,181.95,...,5215,216.03,3,0,11.73,202107,202107,201901,continua,30
1,29425049,201902,1,0,1,48,264,752.10,12071.65,-30.05,...,5243,217.00,3,0,11.73,202107,202107,201902,continua,29
2,29425049,201903,1,0,1,48,265,1025.00,11710.99,-36.03,...,5274,217.09,3,0,11.73,202107,202107,201903,continua,28
3,29425049,201904,1,0,1,48,266,735.28,11278.01,10.52,...,5304,217.01,3,0,11.73,202107,202107,201904,continua,27
4,29425049,201905,1,0,1,48,267,0.00,0.00,0.00,...,5335,251.37,3,0,11.73,202107,202107,201905,continua,26
5,29425049,201906,1,0,1,48,268,774.34,10971.26,-60.52,...,5365,251.37,3,0,11.73,202107,202107,201906,continua,25
6,29425049,201907,1,0,1,48,269,1165.90,11038.55,112.44,...,5396,281.84,3,0,11.73,202107,202107,201907,continua,24
7,29425049,201908,1,0,1,48,270,789.32,10898.76,-14.20,...,5427,282.86,3,0,11.73,202107,202107,201908,continua,23
8,29425049,201909,1,0,1,48,271,385.45,10484.83,-310.29,...,5457,282.86,3,0,11.73,202107,202107,201909,continua,22
9,29425049,201910,1,0,1,48,272,0.00,0.00,0.00,...,5488,282.86,3,0,11.73,202107,202107,201910,continua,21
10,29425049,201911,1,0,1,49,273,1161.53,10760.84,-62.01,...,5518,282.86,3,0,11.73,202107,202107,201911,continua,20
11,29425049,201912,1,0,1,49,274,1758.33,11443.21,208.23,...,5549,311.97,3,0,11.73,202107,202107,201912,continua,19
12,29425049,202001,1,0,1,49,275,848.61,11233.42,-509.51,...,5580,380.86,4,0,93.84,202107,202107,202001,continua,18
13,29425049,202002,1,0,1,49,276,984.18,11465.50,-316.38,...,5609,0.00,0,0,0.00,202107,202107,202002,continua,17
14,29425049,202003,1,0,1,49,277,1820.37,12260.87,-109.40,...,5640,350.43,3,0,93.84,202107,202107,202003,continua,16
15,29425049,202004,1,0,1,49,278,1829.46,13355.06,142.91,...,5670,700.83,6,0,117.30,202107,202107,202004,continua,15
16,29425049,202005,1,0,1,49,279,1930.24,14349.76,-29.20,...,5701,390.11,3,0,0.00,202107,202107,202005,continua,14
17,29425049,202006,0,0,0,49,280,0.00,0.00,0.00,...,5731,390.11,3,0,93.84,202107,202107,202006,continua,13
18,29425049,202007,1,0,1,49,281,1672.45,16130.29,-369.37,...,5762,534.57,3,0,105.57,202107,202107,202007,continua,12
19,29425049,202008,1,0,1,49,282,1751.84,17092.81,-209.55,...,5793,539.36,3,0,105.57,202107,202107,202008,continua,11
20,29425049,202009,1,0,1,49,283,1965.50,18672.85,343.68,...,5823,539.36,3,0,105.57,202107,202107,202009,continua,10
21,29425049,202010,1,0,1,49,284,1277.54,19048.44,-138.23,...,5854,550.31,3,0,105.57,202107,202107,202010,continua,9
22,29425049,202011,1,0,1,50,285,943.40,18830.30,14.83,...,5884,602.67,3,0,105.57,202107,202107,202011,continua,8
23,29425049,202012,1,0,0,50,286,1682.16,18754.13,367.55,...,5915,602.67,3,0,105.57,202107,202107,202012,continua,7
24,29425049,202101,1,0,0,50,287,879.28,18784.79,228.03,...,5946,683.27,3,0,117.30,202107,202107,202101,continua,6
25,29425049,202102,1,0,0,50,288,569.36,18369.97,115.51,...,5974,685.95,3,0,117.30,202107,202107,202102,continua,5
26,29425049,202103,1,0,0,50,289,1417.71,17967.31,294.55,...,6005,685.93,3,0,668.61,202107,202107,202103,continua,4
27,29425049,202104,1,0,0,50,290,1180.21,17318.05,964.75,...,6035,1666.71,4,0,1548.36,202107,202107,202104,continua,3
28,29425049,202105,1,0,1,50,291,947.38,16335.19,494.61,...,6066,739.97,3,0,3307.86,202107,202107,202105,continua,2
29,29425049,202106,1,0,2,50,292,924.87,15211.74,450.81,...,6096,739.97,3,0,7812.18,202107,202107,202106,continua,1
30,29425049,202107,1,0,2,50,293,412.90,13952.20,235.02,...,6127,1062.36,3,0,9407.46,202107,202107,202107,continua,0

In [52]:
%%sql
COPY competencia_02 TO '../datasets/competencia_02.csv' (FORMAT CSV, HEADER)

RuntimeError: Query interrupted